.sb-carousel {
    position  : relative;
    overflow  : hidden;
    margin    : 30px auto;
    box-shadow: 0px 30px 20px -30px rgba(161,159,159,1);    
}

.sb-carousel--slider {
    width     : 100%;
    display   : inline-flex;
    transition: 0.7s;
}

.slider_img {
    width: 100%; 
}

.sb-carousel--indicators {
    position : absolute;
    left     : 50%;
    bottom   : 0.3rem;
    transform: translateX(-50%);
    color:gray;
   
}

.sb-carousel__prev,.sb-carousel__next{
    position: absolute;
    top:50%;
    padding: 0.2rem;
    color: white;
    background-color: rgba(0,0,0,0.8);
    border: none;
    cursor: pointer;
}

.sb-carousel__next{
   right:1%;
}

.sb-carousel__prev{
    left:1%;
}

.sb-carousel__indicator_span{
    display      : inline-block;
    width        : 0.3rem;
    height       : 0.3rem;
    border-radius: 50%;
    background   : rgb(179, 176, 176);
    cursor       : pointer;
    border: none;
}

.active {
    background:  gray ;
}